<div class="footer">
  <div class="col-xs-4 footerLeftCol footerCol">
  	<img ng-src="assets/images/logo.svg" onerror="this.onerror=null; this.src='assets/images/logo.png'" height="80px" width="auto" style="filter: invert(200%);" class="spinImage" ng-show="notIE"> 
    <img ng-src="assets/images/logo.png" height="80px" width="auto" class="spinImage" ng-show="!notIE"> 
  </div>
  <div class="col-xs-4 footeMidrCol">
    <a href="mailto:sample@email.com" data-rel="external" class="col-xs-12"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;sample@email.com
    </a>
    <a href="tel:1231231234" data-rel="external" class="col-xs-12"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;123-123-1234
    </a>
    <a href="https://gitter.im/DaftMonk/generator-angular-fullstack" class="col-xs-12">
      <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Facebook
    </a>
    <a href="https://gitter.im/DaftMonk/generator-angular-fullstack" class="col-xs-12">
      <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;Twitter
    </a>
  </div>
  <div class="col-xs-4 footerRightCol">
    <a href="#0" du-smooth-scroll class="col-xs-12">About</a> 
    <a href="#1" du-smooth-scroll class="col-xs-12">Offer</a> 
    <a href="#2" du-smooth-scroll class="col-xs-12">Details</a> 
    <a href="#3" du-smooth-scroll class="col-xs-12">Contact</a> 
  </div>
</div>
